# Byte‑compiled / cached files
__pycache__/
*.py[cod]
*$$

# Data and logs
outputs/
*.csv
*.xlsx
*.html

# Virtual environments
.venv/

# Jupyter notebooks
*.ipynb

# System files
.DS_Store
Thumbs.db
